# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="___your_mongo_db_url____"
TOKEN_KEY="____token_key_____"
ADMIN_TOKEN_KEY="____admin_token_key_____"
DEFAULT_ADMIN_EMAIL="admin@example.com"
DEFAULT_ADMIN_PASS="admin@123"
OAUTH_CLIENT_ID="____your_google_oauth_client_id____"
OAUTH_CLIENT_SECRET="____your_google_oauth_client_secret____"
OAUTH_REFRESH_TOKEN="____your_google_oauth_refresh_token____"
MAIL_USERNAME="noreply@example.com"
MAIL_PASSWORD="supersecurepassword"